<div class="headline">
  <div class="container">
    <h1>How we can help</h1>
    <p>Our aim is to provide the best services possible solely for our clients. Rest assured that we do not profit from any referrer or affiliate programmes.</p>
  </div>
</div>

<%= form_tag() do %>

<div class="before-trip">
  <div class="container">
    <h2>Before your trip</h2>

    <div class="service">
      <div class="service-option">
        <%= check_box_tag 'visa', '1' %>
      </div>
      <div class="service-content">
        <p>Arrange your visa <a class="display-info">More Info</a></p>
        <div class="moreinfo">
          <p>[optional]</p>
          <div class="cost">
            <span class="diy">$110</span>
            <span class="service-charge">$50</span>
          </div>
        </div>
      </div>
    </div>

    <div class="service">
      <div class="service-option">
        <%= check_box_tag 'flight_ticket', '1' %>
      </div>
      <div class="service-content">
        <p>Book your flight tickets to Guangzhou (2-way) <a class="display-info">More Info</a></p>
        <div class="moreinfo">
          <p>[optional]</p>
          <div class="cost">
            <span class="diy">$1000</span>
            <span class="service-charge">$20</span>
          </div>
        </div>
      </div>
    </div>

    <div class="service">
      <div class="service-option">
        <%= check_box_tag 'hotel', '1' %>
      </div>
      <div class="service-content">
        <p>Book your hotel near Lecong market <a class="display-info">More Info</a></p>
        <div class="moreinfo">
          <p>[optional]</p>
          <div class="cost">
            <span class="diy">$80-120</span>
            <span class="service-charge">$20</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <h2>During your trip</h2>

  <div class="service">
    <div class="service-option">
      <%= check_box_tag 'pickup', '1' %>
    </div>
    <div class="service-content">
      <p>Arrange an airport pickup for you <a class="display-info">More Info</a></p>
      <div class="moreinfo">
        <p>[optional]</p>
        <div class="cost">
          <span class="diy">$20</span>
          <span class="service-charge">$100</span>
        </div>
        <p></p>
        <p>If you decide to not use our service, you may also choose to travel with the airbus($20) from the airport for direct transit to the hotel. Our local expert will then be waiting for you at the hotel.</p>
      </div>
    </div>
  </div>

  <div class="service">
    <div class="service-option">
      <span class="glyphicon glyphicon-ok"></span>
    </div>
    <div class="service-content">
      <p>3-day full time accompanying local expert <a class="display-info">More Info</a></p>
      <div class="moreinfo">
        <div class="cost">
          <span>$100 per additional day</span>
        </div>
        <p></p>
        <p>From the time you are ready to leave your hotel, our local expert will accompany you touring around the market, providing shopping advices, bargaining product prices for you and making payment for your deposits in Chinese Yuan.</p>
        <p>Doing bussiness in China usually requires good bargaining skills. With years of experience in the furniture industry, especially in the Lecong market, our local expert will not let you down. Of course, our local expert is fluent in English.</p>
      </div>
    </div>
  </div>

  <div class="service">
    <div class="service-option">
      <span class="glyphicon glyphicon-ok"></span>
    </div>
    <div class="service-content">
      <p>Pay for your furniture deposits <a class="display-info">More Info</a></p>
      <div class="moreinfo">
        <p>After you selecting the products and agreeing their price with the supplier, deposits have to be paid. Our local expert can help you make that payment in CNY, you will then only need to make the payments to us in AUD, relieving you from the hassle of international money transfers. The exchange rate will be according to the rate provided by NAB bank at the time of payment.</p>
      </div>
    </div>
  </div>
</div>


<div class="after-trip">
  <div class="container">
    <h2>After your trip</h2>

    <div class="service">
      <div class="service-option">
        <span class="glyphicon glyphicon-ok"></span>
      </div>
      <div class="service-content">
        <p>Product inspection <a class="display-info">More Info</a></p>
        <div class="moreinfo">
          <P>We will personally help you inspect the products to make sure the products meet our standard of quality expectation. We will also send you the photos of the received products to confirm with you the colors and the styles.</P>
          <p class="footnote">While we try our best to make sure the products have no defects, minor detail imperfections may still slip through our eyes.</p>
        </div>
      </div>
    </div>

    <div class="service">
      <div class="service-option">
        <span class="glyphicon glyphicon-ok"></span>
      </div>
      <div class="service-content">
        <p>Make full payments to suppliers</p>
      </div>
    </div>

    <div class="service">
      <div class="service-option">
        <span class="glyphicon glyphicon-ok"></span>
      </div>
      <div class="service-content">
        <p class="service-des">Custom clearance and product shipment <a class="display-info">More Info</a></p>
        <div class="moreinfo">
          <p>This process normally takes around 1 month. Shipment tracking number will be provided. We will notify you one day before the products arriving at your doorstep.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="submit-form">
  <div class="container">
    <%= submit_tag("Book a Service", class: "btn btn-primary") %>
  </div>
</div>

<% end %>















